.fb
{
padding:0px;
background:rgba(71,201,238,0.3);
border:rgba(71,201,238,0.3);
}
.fb:before
{
content:url('facebook-square_fce8e8_40.png');
}
.fb:hover, .fb:focus
{
background:rgba(72,99,160,0.3);
border:rgba(72,99,160,0.3);
}
.tweet
{
padding:0px;
background:rgba(71,201,238,0.3);
border:rgba(71,201,238,0.3);
}
.tweet:before
{
content:url('twitter_f2e8e8_40.png');
}
.tweet:hover,.tweet:focus{
background:rgba(71,174,238,0.3);
border:rgba(71,174,238,0.3);
}
.google
{
padding:0px;
background:rgba(71,201,238,0.3);
border:rgba(71,201,238,0.3);
}
.google:before
{
content:url('google-plus_f2e8e8_40.png');
}
.google:hover, .google:focus
{
background:rgba(251,16,16,0.3);
border:rgba(251,16,16,0.3);
}
.in
{
pading:0px;
background:rgba(71,201,238,0.3);
border:rgba(71,201,238,0.3);
}
.in:before
{
content:url('linkedin_f7eded_30.png');
}
.in:hover, .in:focus
{
background:rgba(252,152,71,0.3);
border:rgba(252,152,71,0.3);
}