#login
{
background:rgba(0,0,0,0.6);
box-shadow: -4px -4px 83px 17px rgba(190,170,204,1);
width:300px;
height:300px;
border-radius:10px;
margin:90 auto 300;
}

#uname,#upass
{
background:rgba(255,255,255,0.3);
border:none;
color:white;
}
#uname:focus
{
border:1px solid #00BFFF;
}
#upass:focus
{
border:1px solid #00BFFF;
}
button[type="submit"]
{
background:rgba(92,184,92,0.3);
border:rgba(76,174,76,0.3);
}
button[type="submit"]:focus,button[type="submit"]:hover
{
background:rgba(13,105,33,0.3);
border:rgba(13,105,33,0.3);
}
input[type="email"]::-webkit-input-placeholder 
{ 
color:black; 
}
input[type="email"]:-ms-input-placeholder 
{ 
color:black; 
}
input[type="email"]::-moz-input-placeholder 
{ 
color:black; 
}

input[type="password"]::-webkit-input-placeholder 
{ 
color:black; 
}
input[type="password"]:-ms-input-placeholder 
{ 
color:black; 
}
input[type="password"]::-moz-input-placeholder 
{ 
color:black; 
}